
body {
    background-color: lightblue;
}


#top {
    margin-top: 0%;
    width: auto;
    height: 20px;
    background-color: blue;
    /*margin-left:20%;
    margin-right:20%;*/
}
/*#menu {
    margin: 0;
    padding: 0;
    margin-top: 3%;
    margin-left: 15%;
    width: 15%;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 3%;
    margin-left: 15%;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    li a.active {
        background-color: #4CAF50;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

#announ {
    background-color: #f1f1f1;
    padding: 0;
    margin-top: 3%;
    margin-left: 32%;
    width: 30%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#left {
    background-color: #f1f1f1;
    padding: 0;
    margin-top: 3%;
    margin-left: 65.5%;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/*.drop1{
    display:none;
}
li a:hover.drop1{
    display:block;
}
li {
    position:relative
}
li a.drop1{
    position:absolute;
}
.drop1{
    left:100%;
    top:0%;
}*/
